ion-card.no-margin {
  margin: 0;
}

ion-card-header.no-padding {
  /* margin: 0; */
  padding: 0 0.5rem;
}

ion-card-title.shop-title {
  font-size: 1rem;
  max-height: 1rem;
  overflow-x: scroll;
  /* padding: 0;
    margin: 0; */
}

ion-card-subtitle.shop-subtitle {
  font-size: 0.8rem;
  max-height: 1rem;
  overflow-x: scroll;
  /* padding: 0;
      margin: 0; */
}

.shopList-image {
  min-width: 100%;
}
